*{
    margin:  0;
    padding:0;
    border:0;
}

body{
    font-size:14px;
    font-family:"微软雅黑","Microsoft Yahei";
    color: #222;
    background-color:#fff;
}
.small{
    font-size:0.8em;
    color:#666;
}
.text-right{
    text-align:right;
}
a{
    color: #f44;
    text-decoration:none;
}
h1,h2{
    font-weight:600;
}
blockquote{
    padding:10px 5px;
    border:1px solid #ddd;
    border-radius:3px;
    color: #f44;
    background-color:#f0f0f0;
    margin: 10px 0px;
}
pre{
    font-size:13px;
    font-family:Consolas;
    line-height:16px;
    display: block;
    margin:5px 0;
    border-left:2px solid #a44;
    padding-left:5px;
}
ul{
    list-style:inside square;
}
ul,p{
    margin-bottom:8px;
}
#body{
    width:800px;
    margin:0 auto;
    
    padding:5px 10px;
    margin-top:30px;
    border-radius:5px;
}
.unit{
    margin-top:20px;
    line-height:22px;
}
.unit h2{
    padding-bottom:5px;
    margin-bottom:5px;
    border-bottom:1px dashed #ddd;
    font-size:16px;
}
h1.page-header{
    text-align:center;
    font-size:28px;
    padding:10px 0;
    border-bottom:1px solid #ccc;
    margin-bottom:10px;
}